/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
} */

body {
    background-color: #242424;
    color: aliceblue;
}

.quoteDiv {
    margin-top: 3rem;
    padding-top: 0.5rem;
    border: solid azure 1px;
    border-radius: 0.5rem;
    background-color: #242423;
    color: grey;
    width: 70%;
    max-width: 100%;
    overflow: auto;
    height: 9rem;
    max-height: 100%;
}

.quoteDiv .author {
    text-align: right;
}