body {
    background-color: black;
    color: aliceblue;
}


/* Styles for Header.jsx */

.header {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}


/* Styles for MainPage.jsx */

.quote-div {
    min-width: fit-content;
    width: 30%;
    max-width: 50%;
    min-height: 5rem;
    max-height: fit-content;
    background-color: rgba(128, 128, 128, 0.432);
    color: rgba(240, 255, 255, 0.384);
    border: 1px solid black;
    border-radius: 5px;
    word-wrap: break-word;
}

.quote-div:hover {
    min-width: fit-content;
    width: 30%;
    max-width: 50%;
    min-height: 5rem;
    max-height: fit-content;
    background-color: rgba(128, 128, 128, 0.432);
    color: rgba(240, 255, 255, 0.384);
    border: 1px solid aqua;
    border-radius: 5px;
    word-wrap: break-word;
}


/* Styles for QuoteChoice.jsx */

.quote-choice-div {
    box-sizing: border-box;
}

.quoteElement {
    text-align: left;
}

.authorname {
    text-align: right;
}